<div ng-controller="HackCtrl">
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-8">
        <table class="table table-striped table-condensed">
          <thead>
            <tr><th colspan="4">Impact</th></tr>
          </thead>
          <tbody>


            <tr ng-repeat="impact in impactData">
              <td>{{impact.Impact.impactId}}</td>
              <td>{{impact.Impact.impactCitation}}</td>
              <td>{{impact.Impact.impactSubsection}}</td>
              <td>{{impact.Impact.impactedCitation}}</td>
              <td>{{impact.Impact.impactedSubsection}}</td>
              <td>{{impact.Impact.expectedDate}}</td>
              <td>{{impact.Impact.receivedDate}}</td>
              <td>{{impact.Impact.bscwWiId}}</td>
              <td>{{impact.Impact.batchId}}</td>
              <td>{{impact.Impact.batchZipName}}</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-4">
        <div id="chartdiv"></div>
      </div> 
    </div>
  </div>

</div>